In [1]:
import numpy as np 
import pandas as pd

In [2]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [3]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [4]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [5]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [6]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [7]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [8]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])

In [9]:
df

             A         B
G1 1 -0.390143 -0.696088
   2 -0.113964  0.331542
   3 -0.917340 -0.483376
G2 1  1.757753  0.961138
   2 -0.003041  0.430066
   3  0.290869  0.139481

In [10]:
df.loc['G1']

          A         B
1 -0.390143 -0.696088
2 -0.113964  0.331542
3 -0.917340 -0.483376

In [11]:
df.loc['G1'].loc[1]

A   -0.390143
B   -0.696088
Name: 1, dtype: float64

In [12]:
df.index.names

FrozenList([None, None])

In [13]:
df.index.names = ['Group','Num']

In [14]:
df

                  A         B
Group Num
G1    1   -0.390143 -0.696088
      2   -0.113964  0.331542
      3   -0.917340 -0.483376
G2    1    1.757753  0.961138
      2   -0.003041  0.430066
      3    0.290869  0.139481

In [15]:
df.loc['G2'].loc[2]['B']

0.4300663863959138

In [16]:
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}

In [17]:
data

{'Company': ['GOOG', 'GOOG', 'MSFT', 'MSFT', 'FB', 'FB'],
 'Person': ['Sam', 'Charlie', 'Amy', 'Vanessa', 'Carl', 'Sarah'],
 'Sales': [200, 120, 340, 124, 243, 350]}